@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

.sname span{
    color:  rgb(10, 131, 38);
}body{
    margin: 0;
    scroll-behavior: smooth;
}.intro{
    height: clamp(10vh, 40%, 90vh);
    width: 100%;
    padding-top: 10px;
    background: rgb(143, 233, 164);     
    text-align: center;
    color: white;   
    font-size: clamp(29px, 10%, 40px);
}
.product h2{
    font-size: medium;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product-info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.product {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px;
    width: 150px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    animation: app linear 4s;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ce56;
    color: white;
    border: none;
    border-radius: 30px;    
    transition-duration: 0.3s;
    box-shadow: 0 2px 0 rgba(0,0,0,0.25);
}

.price {
    display: block;
    font-size: 18px;
    color: #555;
}

.product .buy-btn:hover {
    background-color: white;
    box-shadow: 0px 0px 0px 1px #00ce56, 0 4px 8px rgba(0,0,0,0.18);;
    color: #00ce56;
    cursor: pointer;
}

.info {
    text-shadow: 0px 0px 3px black;
    color: white;
    background-color: #008f34;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    justify-self: center;
}


.about h3,h4{
    font-size:inherit;
}
footer{
    text-shadow: 0px 0px 3px black;
    width: 100%; 
    height: auto;
    border: solid rgb(255, 254, 254);
    padding: 10px;
    color: white;
    background: linear-gradient(90deg, #00ce56, #008f34);
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 9px  ;
}
.str img{
     width: clamp(250px, 50%, 600px);
     height: clamp(90px, 20%, 190px );
}.product img{
  width: clamp(70px,20%,90px);
  height: clamp(70px,20%,90px);
     
}@keyframes app{
    from{opacity: 0%; scale: 0.4 ;}
    to{opacity: 100%; scale: 1;}
}.btn{
    width: clamp(80px,100%, 150px);
    margin-bottom: 10px;
}a{
    text-decoration: none;
    color: white;
}
.btn a:hover{
    transform: translateY(10px);

}


.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #00ce56, #008f34);
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.logo-section img {
    transition-duration: 0.3s;
    filter: drop-shadow(0px 0px 3px black);
}

.logo-section img:hover {
    transform: scale(1.1);
}

.logo-section * {
    text-shadow: 0px 0px 3px black;
}

.notification {
    position: absolute;
    transform: translateX(-60%) translateY(-60%);
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
.contact{
  display: flex;
  margin: auto;
  gap:10px;
}

.button-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.button-section .fa-solid {
    color: white;
    text-shadow: 0px 0px 3px black;
    transition-duration: 0.3s
}

.button-section .fa-solid:hover {
    transform: scale(1.3);
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aeb9b3;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 4px 16px;
    background: #00ce56;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.25);
    transition-duration: 0.5s;
    
}

nav ul li a:hover {
    background: #00a323;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
}

nav ul li a:active {
    transform: translateY(0);
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
@media (max-width:640px){
nav{
   width: 100%;
  overflow-x: auto;
  padding: 10px;
  gap:1px;
}nav ul{
  gap:10px;
  
}nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 4px 8px;
    background: #00ce56;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.25);
    transition-duration: 0.5s;
}.contact{
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: auto;
}

  
}
